.title-img {
    position: relative;
    overflow-x: hidden; /* Hide overflow only on the x-axis */
}

.img-area {
    display: flex;
    justify-content: center;
    position: absolute;
    animation: moving-animation 2s linear infinite alternate;
    top: 25px;
    opacity: 0.3;
    width: 100%; /* Ensure the img-area stays within the container */
}

.title-img img {
    position: absolute;
    top: -35px;
    z-index: 10;
}

@keyframes moving-animation {
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(-50px);
    }
}

.styled-box {
    display: inline-block; /* Adjusts the box width to the sentence size */
    background-color: rgba(144, 238, 144, 0.5); /* Light green with 50% transparency */
    border-radius: 15px; /* Rounded edges */
    padding: 30px 20px; /* Adds padding to the top and around the box */
    max-width: 100%; /* Ensures the box does not exceed the screen width */
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
  }

/* Product Page */

/* service list*/

.list-item-title {
    font-weight: bold;
}
.list-group-item {
    text-align: left;
}